LALIGA/LALIGA.dtd

<!ELEMENT LALIGA (JUEGO+)>
        <!ELEMENT JUEGO (FECHA, EQUIPO_LOCAL, EQUIPO_VISITANTE, RESULTADO, ESTADISTICAS)>
        <!ELEMENT FECHA (#PCDATA)>
        <!ELEMENT EQUIPO_LOCAL (#PCDATA)>
        <!ELEMENT EQUIPO_VISITANTE (#PCDATA)>
        <!ELEMENT RESULTADO (#PCDATA)>
        <!ELEMENT ESTADISTICAS (POSESION, TIROS_PORTERIA, FALTAS)>
        <!ELEMENT POSESION (#PCDATA)>
        <!ELEMENT TIROS_PORTERIA (#PCDATA)>
        <!ELEMENT FALTAS (#PCDATA)>